<!-- meta elements -->
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="title" content="<%= pageTitle %>">
<meta name="description" content="<%= desc %>">
<meta name="keywords" content="">
<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, target-densitydpi=device-dpi">
<meta name="theme-color" content="#83ac14">


<title>
    <%= pageTitle %>
</title>

<!--Roboto font-->
<!--<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">-->
<!--<link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">-->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">

<!-- Fav Icon -->
<link id="favicon" rel="shortcut icon" href="/img/ico/favicon.ico" type="image/x-icon" />

<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<!-- Font awesome icons -->
<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!--Stylesheet-->
<link href="/css/style.css" rel="stylesheet">